* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #e0e0e0;
}
#center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1c1c1c;
    min-height: 84vh;
    max-height: fit-content;
    padding-top: 16vh;
}
header {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    background-color: #2c2c2c;
    box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 1);
}
.logo {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.logo img {
    height: 100%;
    width: 100%;
}
.menu-toggle {
    display: none;
    text-align: center;
    align-items: center;
    font-size: 40px;
    margin-right: 20px;
    cursor: pointer;
    color: #b0b0b0;
}
.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-left: 5px;
}
.weapons {
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: solid 2px transparent;
    font-size: 1.1rem;
    color: #e0e0e0;
}
.weapons:hover {
    border-bottom: solid 2px #b0b0b0;
    transition: 0.3s;
}
.search {
    display: flex;
    text-align: center;
    background-color: #3c3c3c;
    padding: 7px;
    border-radius: 5px;
    width: 20%;
}
.search input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 90%;
    margin-left: 5px;
    font-size: 1.1rem;
    color: #e0e0e0;
}
.search label {
    cursor: pointer;
    color: #e0e0e0;
}
.search-box {
    position: fixed;
    display: flex;
    background-color: #3c3c3c;
    color: #e0e0e0;
    padding: 7px;
}
.weaponsMenu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.weaponsMenu.activeWeapons {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 15.5vh;
    width: 98%;
    background-color: #2c2c2c;
    list-style: none;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 1);
    overflow: hidden;
    color: #e0e0e0;
    opacity: 1;
    visibility: visible;
    animation: weaponsMenuAppear 0.3s ease-in-out forwards;
}
.weaponsMenu.inactiveWeapons {
    animation: weaponsMenuDisappear 0.3s ease-in-out forwards;
    opacity: 0;
    visibility: hidden;
}
.weaponsMenu.activeWeapons li {
    padding: 5px;
    border-bottom: transparent 2px solid;
    cursor: pointer;
    text-align: center;
    width: 80%;
}
.weaponsMenu.activeWeapons li:hover {
    border-bottom: #b0b0b0 2px solid;
}
.box-item {
    position: relative;
    display: flex;
    width: 15%;
    height: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #e0e0e0;
    margin: 1%;
    padding: 1%;
    background-color: #3c3c3c;
    box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 1);
    border-radius: 10px;
    animation: itemBoxHoverDown forwards 0.3s;
}
.box-item p {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-item:hover {
    background-color: #2c2c2c;
    animation: itemBoxHoverUp forwards 0.3s;
    cursor: pointer;
}
.item {
    font-size: 1.1rem;
}
.item-img {
    width: 100%;
    height: 100%;
}
.item-img-case {
    width: 20%;
    height: 20%;
}
#search-box {
    top: 11vh;
    z-index: 9999;
    position: fixed;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #3c3c3c;
    color: #e0e0e0;
    max-height: fit-content;
    animation: searchBoxAppear 0.3s ease-in-out;
}
#search-box.hidden {
    animation: searchBoxDisappear 0.3s ease-in-out;
}
.search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    text-decoration: none;
    color: #e0e0e0;
}
.search-item:hover {
    background-color: #474747;
    border-radius: 10px;
}
.img-search-item {
    width: 20%;
    height: 20%;
}
@media (max-width: 1153px) {
    .menu {
        display: none;
    }
    .menu-toggle {
        display: flex;
        transition: 0.3s;
        color: #b0b0b0;
    }
    .menu.active {
        display: block;
        top: 15.5vh;
        position: fixed;
        background-color: #2c2c2c;
        width: 49%;
        height: min-content;
        padding-bottom: 5px;
        border-radius: 10px;
        box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 1);
        color: #e0e0e0;
        opacity: 1;
        visibility: visible;
        animation: menuAppear 0.3s ease-in-out forwards;
    }
    .menu.inactive {
        animation: menuDisappear 0.3s ease-in-out forwards;
        opacity: 0;
        visibility: hidden;
    }
    .weapons {
        width: 80%;
        margin: auto;
        padding: 5px;
        text-align: center;
        font-size: 1.2rem;
    }
    .search {
        width: 40%;
    }
    .weaponsMenu.activeWeapons {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        width: 49%;
        top: 15.5vh;
        max-height: 347px;
        border-radius: 10px;
        padding-bottom: 5px;
        overflow: auto;
    }
    .weaponsMenu.activeWeapons li img {
        display: none;
    }
    #search-box {
        width: 40%;
    }
}
@keyframes itemBoxHoverUp {
    from {
        bottom: 0px;
    }
    to {
        bottom: 15px;
    }
}
@keyframes itemBoxHoverDown {
    from {
        bottom: 15px;
    }
    to {
        bottom: 0px;
    }
}
@keyframes searchBoxAppear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes searchBoxDisappear {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}
@keyframes weaponsMenuAppear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes weaponsMenuDisappear {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}
@keyframes menuAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes menuDisappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #2c2c2c;
}